
	<div class="box-black"></div>
	<div id="box-form-popup" class="box-form-popup">
		<div class="header-popup">
                    <span><b>Warning!!!</b></span>
		</div>
		<div class="body-popup">
                    <label class="label-delete"><b>You're already editing two notes!!! You have to close at least one of them if you want to edit another note...</b></label>
			<form method="post" action="note">
                        <input type="submit" value="ShowNote" name="note" class="left popup-delete box-button-popup">
			<input type="submit" value="back" name="note" class=" right popup-delete box-button-popup">
                        
			</form>
		</div>
	</div>     
