
	<div class="box-black"></div>
	<div id="box-form-popup" class="box-form-popup">
		<div class="header-popup">
            <span><b>Warning!!!</b></span>
		</div>
		<div class="body-popup">
                    <label class="label-delete">
                    <b>Sorry! It has not been possible to fulfill your request! Please try again...</b></label>
			<form method="post" action="note">
			<input type="submit" value="back" name="note" class="popup-delete box-button-popup">
                        
			</form>
		</div>
	</div>     
