

<div class="menu-manager-note">
                        <form method="post" action="logged">
                                <fieldset>
					 <legend>Filter</legend><br>
					<div class="note-search">
                                         <input class="search-note checkString" type="text" name="NameInput" placeholder=" Search Notes...">
                                        </div><br>
					<div class="note-tag">  
                                         <input class="search-note checkString" type="text" name="TagInput" placeholder=" Search Tag...">
					</div>
                                        <input type="submit" value="Search" name="note"  class="search right button-input-registerede">
                                </fieldset>

			</form>
</div>