<!--START HEADER HTML LOGIN-->

	<div class="login-SimplestNote">

			<form method="post" action="login" name="loginForm" >
                                <div class="checkButton"><input id="buttonLogin" type="submit" value="login" name="login" class=" button-input-login"></div>
				<input class="width passField ${validateForm!} unleash" type="password" name="pass" placeholder=" Password" maxlength="100"/>
				<input class="width mailField ${validateForm!} unleash" value="${emailLogin!}" type="text" name="email" placeholder=" Email" maxlength="100"/>
			</form>
		<div class="form-box-link">
			<span><a href="Recovery">Forgot password?</a></span>
		</div>
		
	</div>
<!--END HEADER HTML LOGIN-->
