            
            	<div class="box-black"></div>
	<div id="box-form-popup" class="box-form-popup">
		<div class="header-popup">
                    <span><b>Forgot your password?</b></span>
		</div>
		<div class="body-popup">
                        <label class="label-delete">Type in your email address</label>
			<form method="post" action="profile">
                        <input type="text" name="email" value="${email}" class="popup-delete-addtag-adduser-input checkMailP"/>
                        <input type="submit" value="Recovery" name="profile" class="submitThis left popup-delete-addtag-adduser box-button-popup">
			<input type="submit" value="back" name="profile" class=" right popup-delete-addtag-adduser box-button-popup">
                        
			</form>
                        <div class="boxMessageP ${box_message}">${message}</div>
		</div>
	</div>          