<div class="box-login-left">
<!--START BOX ERROR SIMPLESTNOTE-->
	<div class="box-presentation">
		<div class="box-error-left">
			<h1>Welcome to SimplestNote ${nome!}</h1>
                        <p><b>Your Data</b><br> <b>First Name:</b> ${nome!}<br> <b>Last Name:</b> ${cognome!}<br> <b>Email Address:</b> ${email!} </p>
			<p>${mex!}</p>
                        <p>Login to start editing your notes! <a href="/SimplestNote">Home</a></p>
		</div>
	</div>
<!--END BOX ERROR SIMPLESTNOTE-->
</div>
